<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>OriginChain: Traceability Blockchain</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="script.js"></script>
  </head>
  <body>
<header class="w3-container w3-blue-grey">
  <h1>OriginChain: A Traceability Blockchain</h1>
</header>

  <div class="w3-bar w3-padding-large w3-sand">
	<a href=/mobileapp/viewant/ class="w3-btn w3-black">View Antecedents</a>
	<a href=/mobileapp/move/ class="w3-btn w3-black">Material Movement</a>
</div>



<div class="w3-container w3-padding-large">
    <br>
    <br>
   Welcome to OriginChain: A Traceability Blockchain using Ethereum, Parity, MySQL, Django Framework and Python
  </body>
</html>


